<div class="comment">
  <div class="by">
    <%= link_to comment.user.email, comment.user %>
  </div>
  <div class="body">
    <%= simple_format comment.body %>
  </div>
  <div class="actions">
    <% if can? :manage, comment %>
        <%= link_to 'Destroy', [comment.problem, comment],
                    :confirm => 'Are you sure?',
                    :method => :delete %>
    <% end %>
  </div>
  <hr/>
</div>