<%= form_for([@problem, @problem.comments.build]) do |f| %>
    <div class="control-group">
      <%= f.text_area :body, :placeholder => 'Add your comment' %>
    </div>
    <div class="control-group">
      <%= f.submit "Add comment" %>
    </div>
<% end %>