/* replaced from bootstrap*/

body{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

a:focus {
    outline: none;
}

/* END replaced from bootstrap*/

header{
    height: 90px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    background: url("i/header.png");
    position: relative;
    /*border-bottom-left-radius: 3px;*/
    /*border-bottom-right-radius: 3px;*/
}

.logo {
    position: relative;
    top: 12px;
    left: 10px;
}

.nav-list li{
    float: left;
    list-style: none;
    margin: 0 6px;
    text-align: center;
    line-height: 16px;
}

.nav-list{
    position: absolute;
    right: 0;
    top: 50%;
    height: 48px;
    margin-top: -24px;
}

.nav-list a{
    color: #343434;
}

.nav-list a:hover{
    color: #343434;
}

.semibold{
    font-weight: 600;
}

.nav-list .whatsup-link,.nav-list .whatsup-link:hover{
    color: black;
}

li.whatsup{
    position: relative;
    top: 50%;
    height: 32px;
    margin-top: -20px;
    text-align: left;
}

.nav-list .line-two{
    font-size: 13px;
}

.nav-list .line-three{
    font-size: 13px;
    line-height: 14px;
    display: block;
}

li.search{
    position: relative;
    top: 50%;
    height: 30px;
    margin-top: -15px;
    margin-bottom: 0;
}

.form-search .search-query{
    background: #f2f2f2; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2f2f2 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f2f2f2 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f2f2f2 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f2f2f2 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f2f2f2 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    height: 18px;
    line-height: 18px;
    width: 200px;
}

.form-search input::-webkit-input-placeholder, .form-search input:-moz-placeholder, .form-search input:-ms-input-placeholder {
    color:    #a5a5a5;
}

.nav-list .login{
    position: relative;
    top: 50%;
    height: 16px;
    margin-top: -8px;
}

.container.custom{
    width: 960px;
}

article h1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 42px;
    letter-spacing: 1px;
}

article{
    margin-top: 50px;
}

article .author{
    float: right;
    margin-top: 10px;
    margin-right: 40px;
}

article .author, article .author a{
    color: #4b4b4b;
    font-size: 16px;
}

article .header:after{
    content: "";
    display: block;
    clear: both;
}

article .content{
    margin-top: 20px;
}

article .content .picture{
    float: left;
    width: 45%;
}

article .content .description{
    float: left;
    width: 50%;
    margin-left: 5%    ;
    font-size: 16px;
    line-height: 22px;
}

article .content hr{
    margin: 25px 0;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #e9e9e9;
}

.container .content{
    width: 860px;
    margin-left: auto;
    margin-right: auto;
}

.btn.isnue{
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-shadow: none;

    background: #d13727;
    border-radius: 10px;
    padding: 10px 14px;
    box-shadow: 0 -1px 2px #333333;
}

.btn.isnue:hover{
    background: #d13727;
    color: white;
}

.btn.isnue:focus{
    outline: none;
}

article .actions{
    float: right;
}

footer{
    margin-top: 100px;
    height: 104px;
    box-shadow: 0 0 2px #333333;
    background: url("i/footer.png");
    position: relative;

    font-weight: 600;
}

footer ul{
    margin: 0;
}

footer li{
    list-style: none;
    line-height: 18px;
}

footer li a, footer li a:hover{
    color: white;
}

.container footer .content{
    width: 498px;
    position: relative;
    top: 24px;
}

footer .content > ul{
    float: left;
    width: 30%;
}

footer .content > .copyright{
    float: left;
    width: 40%;
}

footer .copyright{
    color: #59100b;
    position: relative;
    top: 10px;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
}

.comments .content{
    width: 480px;
}

    /*temporary*/
    .comments{
        display: none;
    }