<p id="notice"><%= notice %></p>
<h1><%= @user.nickname %></h1>
<%= @user.email %>

<div class="user-problems">
  <% @user.problems.each do |problem| %>
      <div class="problem">
        <h3><%= link_to problem.name, problem %></h3>
      </div>
  <% end %>
</div>